body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* font-weight: <weight>;
  font-style: normal; */
}
/* Index Page  */
/* .fa-location-dot {
  color: black;
} */

/* .container {
  width: 100%;
  margin: 0;
} */
.container {
  padding-left: 10px;
  padding-right: 10px;
}
/* .MainBody-Container {
  max-width: 1200px;
  margin: auto;
} */
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: red;
  font-size: 2rem;
}
.nav-link {
  font-weight: 500 !important;
  color: #222222 !important;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info {
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.3rem;
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  width: 100%;
  background-color: grey;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.card {
  border: none !important;
  margin-top: 2rem !important;
  /* margin-left: 2rem !important; */
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}

/* card Effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New page */
.add-btn {
  background-color: red !important;
}

/* update PAge */
.edit-btn {
  background-color: red !important;
}

/* Show page */
.show-img {
  height: 50vh;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}
footer {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
  background: grey;
  /* border: 4px solid red; debug */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
}
.btn {
  transition: all 6s ease;
}
.btn:hover {
  transform: scale(1.05);
}
